---
const { dayName, activities } = Astro.props;

function formatDateHeure(dateString) {
  const date = new Date(dateString);
  
  date.setHours(date.getHours() - 2);
  
  const jourDate = date.toLocaleDateString('fr-FR', { 
    weekday: 'long', 
    day: 'numeric', 
    month: 'long' 
  });
  
  const heure = date.toLocaleTimeString('fr-FR', { 
    hour: '2-digit', 
    minute: '2-digit' 
  });
  
  return `${jourDate} - ${heure}`;
}
---

<div class=" group relative mt-10 w-4/5 mx-auto card-container">
    <div class="transform transition-transform duration-300 group-hover:scale-101 bg-purple rounded-4xl rounded-tr-4xl p-4 text-center card">
        <h2 class="text-3xl capitalize text-blue font-aclonica">{dayName}</h2>
        <div class="mt-2 ">
            {activities.map(activity => (
                <div class="py-2 border-b border-purple-300 last:border-0">
                    <div class="text-start mb-5">
                        <p class="font-comfortaa  text-white-100">Activité :</p>
                        <p class="font-comfortaa text-white">{activity.titre_act}</p>
                    </div>
                    <div class="text-start mb-5">
                        <p class="font-comfortaa  text-white-100">Type :</p>
                        <p class="font-comfortaa text-white">{activity.type}</p>
                    </div>
                    <div class="text-start mb-5">
                        <p class="font-comfortaa  text-white-100">Lieu :</p>
                        <p class="font-comfortaa text-white">{activity.lieu}</p>
                    </div>
                    <div class="text-start mb-5">
                        <p class="font-comfortaa  text-white-100">Horaire :</p>
                        <p class="font-comfortaa text-white">{formatDateHeure(activity.date)}</p>
                    </div>
                    <div class="text-start mb-5">
                        <p class="font-comfortaa text-left text-white-100">Description :</p>
                        <p class="font-comfortaa text-white">{activity.description}</p>
                    </div>
                    <div class="flex justify-center text-2xl pb-5">
                        <a href={`/programme/${activity.id}`} class="text-blue">Voir plus →</a>
                    </div>
                </div>
            ))}
        </div>
    </div>
</div>