---
import Layout from "../../layouts/Layout.astro";
import { ActivitesById } from "../../../backend/backend.mjs";
import { ActeurReaById } from "../../../backend/backend.mjs";
const { id } = Astro.params;
const act = await ActivitesById(id);
const anim = await ActeurReaById(act.animateur);
if(!act){
    return Astro.redirect('/invite');
}

function formatDateHeure(dateString) {
  const date = new Date(dateString);
  
  date.setHours(date.getHours() - 2);
  
  const jourDate = date.toLocaleDateString('fr-FR', { 
    weekday: 'long', 
    day: 'numeric', 
    month: 'long' 
  });
  
  const heure = date.toLocaleTimeString('fr-FR', { 
    hour: '2-digit', 
    minute: '2-digit' 
  });
  
  return `${jourDate} - ${heure}`;
}
---

<Layout titre={act.titre_act}>
    <h1 class="flex justify-center font-aclonica text-purple text-3xl mt-30">{act.titre_act}</h1>
    <div class="mb-20 w-5/6 mx-auto">
        <div class="mt-10 flex flex-col items-center gap-4 lg:flex-row">
            <img class="rounded-2xl w-1/2 lg:mr-5 lg:w-2/5" src={anim.img} alt={`Image de ${anim.nom}`} />
            <div class="mt-10 flex flex-col items-center gap-10 lg:items-start">
                <div class="text-start flex flex-col lg:items-start">
                    <p class="text-2xs font-comfortaa text-brown">Type :</p>
                    <p class="text-xl font-comfortaa text-brown">{act.type}</p>
                </div>
                <div class="text-center flex flex-col lg:items-start">
                    <p class="text-2xs font-comfortaa text-brown">Date de l'activité:</p>
                    <p class="text-xl font-comfortaa text-brown">{formatDateHeure(act.date)}</p>
                </div>
                <div class="text-center flex flex-col lg:items-start">
                    <p class="text-2xs font-comfortaa text-brown">Lieu : </p>
                    <p class="text-xl font-comfortaa text-brown">{act.lieu}</p>
                </div>
                <div class="text-center flex flex-col lg:items-start">
                    <p class="text-2xs font-comfortaa text-brown">Animateur(trice) : </p>
                    <p class="text-xl font-comfortaa text-brown">{anim.prenom} {anim.nom}</p>
                </div>
                <div class="text-center flex flex-col lg:items-start">
                    <p class="text-2xs font-comfortaa text-brown">Film : </p>
                    <p class="text-xl font-comfortaa text-brown">{anim.prenom} {anim.nom}</p>
                </div>
            </div>
        </div>
    </div>
</Layout>